<ion-navbar *navbar>
  <ion-title>Fuego 🔥🔥🔥</ion-title>
  <ion-buttons end>
    <button>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content>
  <div class="list">
    <header class="group-header">
      <h2 class="red">Live events</h2>
    </header>
    <div class="contest-item"
      (click)="toContest(event)"
      [class.last]="last"
      *ngFor="let event of events; let last = last">
      <img [src]="event.img" alt="">
      <div class="fill column">
        <h2 class="hack-title red">{{event.name}}</h2>
        <div class="row">
          <img [src]="contestent.img" alt="" class="contest-avatar"
            *ngFor="let contestent of event.contestents">
        </div>
      </div>
    </div>
    <header class="group-header">
      <h2 class="red">Past events</h2>
    </header>
    <div class="contest-item"
      (click)="toContest(event)"
      *ngFor="let event of pastEvents">
      <img [src]="event.img" alt="">
      <div class="fill column">
        <h2 class="hack-title red">{{event.name}}</h2>
        <div class="row">
          <img [src]="contestent.img" alt="" class="contest-avatar"
            *ngFor="let contestent of event.contestents">
        </div>
      </div>
    </div>
  </div>
</ion-content>
